//Colors
$background: #1a1b1a;
$background_transparent: #1a1b1ade;
$background_transparent-light: #abadabde;
$text_primary: white;
$accent: rgba(255, 0, 0, 0.58);

//font sizes
$font_small: 1.1rem;
$font_medium: 1.6rem;
$font_large: 2rem;
$font_heading: 5rem;
$font_heading-sub: 4.5rem;
