.Navigation {
  position: fixed;
  top: 0;
  right: 0;
  left: 40%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.4s;
  z-index: 1000;
}
.pageContainer {
  background-color: #1b1a1a;
  position: relative;
}
.navContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.close {
  display: block;
  background-color: #1b1a1a;
  height: 3rem;
  width: 100%;
  .icon-container {
    position: relative;
    width: 3rem;
    height: 3rem;
    float: right;
    margin: 0.6rem 3.5rem 0 0;
    cursor: pointer;
  }
  .icon {
    position: absolute;
    content: '';
    background-color: white;
    width: 3rem;
    height: 3px;
    transform: rotate(45deg);
    bottom: 1.4rem;
    &::before {
      position: absolute;
      content: '';
      background-color: white;
      width: 3rem;
      height: 3px;
      transform: rotate(90deg);
    }
  }
}
