body {
  @import url('https://fonts.googleapis.com/css?family=Lato|Lobster&display=swap');
  font-family: Lato;
  color: white;
}

.heading_main {
  font-family: lobster;
  font-size: $font_heading;
  text-align: center;
  &-small {
    font-family: lobster;
    font-size: $font_heading-sub;
    text-align: center;
  }
}

.card_text {
  font-size: $font_medium;
}

.red {
  color: $accent;
}

::selection {
  color: $accent;
}
