.card_img-young {
  right: 2rem;
  top: 18rem;
}

.card_img-family {
  left: 2rem;
  bottom: 7rem;
}

.card_text {
  &-top {
    position: absolute;
    top: 15rem;
    left: 0;
    width: 15rem;
    margin: 2rem;
    line-height: 1.4rem;
  }
  &-bottom {
    position: absolute;
    right: 0;
    bottom: 12rem;
    width: 15rem;
    margin: 2rem;
    line-height: 1.4rem;
  }
}
