.home {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../../images/Home.jpg');
  background-size: cover;
  background-position: center;
}
.home_heading {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home_heading-sub {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home_card {
  position: absolute;
  align-items: center;
  text-align: center;
  width: 80%;
  height: 15rem;
  justify-content: space-around;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
