.page_location {
  .heading_main {
    margin-top: 5rem;
  }
  .heading_main-small {
    margin-bottom: 3rem;
  }
  .card_text {
    font-size: 1.4rem;
  }
}

.map {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 23rem;
  padding: 2rem 3rem;
}
