.page_menu {
  background-color: white;
  .heading_main {
    color: red;
    font-family: Lato;
    margin: 1rem 0 0 0;
  }
  .heading_subText {
    width: 90%;
    color: black;
    text-align: center;
    margin: auto;
    padding-bottom: 0.5rem;
  }
  .card {
    margin: auto;
    background-color: white;
    color: black;
    width: 95%;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0.5rem;
    &_outlined {
      border: 1px solid black;
    }
    &_heading {
      width: 100%;
      text-align: center;
      margin: 0;
      span {
        font-size: $font_large;
      }
    }
    &_subcard {
      display: flex;
      flex-direction: column;
      width: 50%;
      align-items: center;
      justify-content: space-between;
      padding: 0.3rem 0.5rem;
      flex: 1 50%;

      .sides {
        height: 10rem;
      }
      .card_heading-sub {
        font-size: $font_menu-heading;
      }
      .card_text {
        font-size: $font_miniscule;
        text-align: center;
        line-height: 1rem;
      }
    }
  }
}
