.card {
  &--info {
    font-size: 1.2rem;

    &-contact {
      font-size: 0.9rem;
    }
  }
  &--contact {
    &-container {
      width: 80%;
    }
  }
  &--menu {
    height: 8rem;
    width: 48%;
    &-text {
      font-size: 0.8rem;
    }
    &-small {
      height: 2.5rem;
      width: 48%;
    }
  }
}
