.contactPage {
  height: 100vh;
  position: relative;
  padding-top: 4rem;
  font-family: Lato;
  color: white;
}
.contactHeading {
  color: white;
  font-size: 4rem;
  font-family: Lobster;
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contactInfo {
  width: 70%;
  margin: 12rem 0 0 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  font-size: 1.9rem;
  line-height: 2.4rem;
  height: 3rem;
}
.phone,
.email,
.fax {
  font-size: 1.1rem;
  line-height: 2.4rem;
  .red {
    color: red;
  }
}
.reservation {
  margin-bottom: 2rem;
}

.contactForm {
  width: 80%;
  margin: auto;
  input,
  textarea {
    background: rgba(255, 255, 255, 0.178);
    border: none;
    margin-bottom: 2rem;
  }
  .fname {
    float: left;
  }
  .lname {
    float: right;
  }
  .fname,
  .lname {
    width: 45%;
    height: 3rem;
    font-family: Lato;
    font-size: 1.1rem;
    &::placeholder {
      color: red;
    }
  }
  .subject {
    height: 3rem;
  }
  .message,
  .subject {
    width: 100%;
    display: block;
    font-family: Lato;
    font-size: 1.1rem;
    &::placeholder {
      color: red;
    }
  }
  .message {
    height: 8rem;
    padding: 2px;
  }
  .submit {
    width: 40%;
    height: 3rem;
    display: block;
  }
}
