.container {
  background: rgba(255, 0, 0, 0.58);
  margin-top: 1.3rem;
  height: 5rem;
  display: flex;
  align-items: center;
  width: 80%;
  position: relative;
  border-radius: 4px;
  &:first-child {
    margin-top: 0;
  }
  &:hover {
    border: 2px solid white;
  }
}

.link {
  color: white;
  font-size: 1.6rem;
  font-family: Lato;
  padding-left: 2rem;
  list-style: none;
  &::before {
    content: "";
    width: 1rem;
    background-color: white;
    height: 5rem;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }
}
