.card {
  display: flex;
  flex-direction: column;
  background-color: $background_transparent;
  border-radius: 4px;
  line-height: 2.4rem;
  &_heading {
    font-size: 2rem;
    padding: 2rem;
  }
}
