.card {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: $background_transparent;
  border-radius: 4px;
  &_heading {
    font-size: $font-large;
    margin-bottom: 1rem;
  }
  &_text {
    font-size: $font-small;
  }
  &_media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
