.navbar_logo {
  display: inline-flex;
  align-items: center;
  &-name {
    font-size: 1.3rem;
    span {
      position: absolute;
      background-color: white;
      content: '';
      width: 2px;
      height: 2.5rem;
      margin-left: 0.5rem;
    }
  }
  &-desc {
    flex-direction: column;
    color: $accent;
    width: 4rem;
    font-size: 1rem;
    margin-left: 1rem;
  }
}
