.heading {
  @include heading;
  margin: 1rem;
  &--card {
    @include heading;
    margin-bottom: 1rem;
    text-align: left;
  }
  &--small {
    @include heading;
    margin: 0;
  }
  &--sub-heading {
    margin: 1rem 0;
  }
  &--sub-text {
    margin-bottom: 0;
  }
  &--menu {
    text-align: center;
    margin: 0;
    &-sub {
      text-align: center;
      margin: 1rem 0;
    }
    &-item {
      margin: 0.5rem 0;
    }
  }
}

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &--btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
  }
  &--icon {
    position: relative;
    &::before,
    &::after {
      position: absolute;
    }
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }
  &--list {
    position: absolute;
    top: 4rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    &-item {
      @include flex-center;
      padding: 1.5rem;
    }
  }
  &--logo {
    margin-left: 5%;
  }
}
.home {
  height: 100vh;
  padding-top: 5rem;
  &--btn-container {
    width: 100%;
    margin-top: 10vh;
    @include flex-center;
    justify-content: space-around;
  }
  &--heading {
    margin: 1.5rem;
  }
  &--logo {
    &-container {
      @include flex-center;
      flex-direction: column;
    }
  }
}
.about {
  &--food,
  &--owner {
    padding: 1rem;
    &-text {
      font-size: 0.9rem;
    }
  }
}
.card {
  padding: 0 0 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 4rem;
  &--contact {
    padding: 1rem 0 0 1rem;
    &-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
  &--info {
    margin: 0.5rem 0;
    text-align: left;
    &-center {
      align-self: center;
    }
    &-contact {
      display: flex;
      align-items: center;
      align-content: center;
      height: 3rem;
    }
  }
  &--menu {
    display: flex;
    flex-direction: column;
    &-text {
      margin: 0;
    }
  }
}

.icons {
  &--phone,
  &--mail,
  &--fax {
    margin-right: 1rem;
  }
  &--clock {
    margin: 0.5rem 0;
  }
}
.half {
  display: flex;
  .contact--social {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 3rem;
  &--group {
    display: flex;
    justify-content: space-between;
  }
  &--input-small {
    margin-bottom: 0.4rem;
    margin-top: 1.5rem;
  }
  &--input-large {
    margin-bottom: 0.4rem;
  }
  &--textarea {
    margin-bottom: 0.4rem;
  }
  &--submit {
    padding: 0;
  }
}

.menu {
  padding: 4rem 0.5rem 0 0.5rem;
  &--columns {
    text-align: center;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
